<div class='container'>
  <section class="cd-horizontal-timeline">
  	<div class="timeline">
  		<div class="events-wrapper">
  			<div class="events">
  				<ol>

    					<li><a href="#0" data-date="06/04/2016" class="selected">April 06</a></li>
    					<li><a href="#0" data-date="07/04/2016">April 07</a></li>
    					<li><a href="#0" data-date="08/04/2016">April 08</a></li>
              <% today = Date.today %>
              <% ((today+3)..(today + 3)).each do |future| %>
                <li><a href="#0" data-date="09/04/2016"><%= date_display(future) %></a></li>
              <% end %>

  				</ol>

  				<span class="filling-line" aria-hidden="true"></span>
  			</div> <%# <!-- .events --> %>
  		</div> <%# <!-- .events-wrapper --> %>

  		<ul class="cd-timeline-navigation">
  			<li><a href="#0" class="prev inactive">Prev</a></li>
  			<li><a href="#0" class="next">Next</a></li>
  		</ul> <%# <!-- .cd-timeline-navigation --> %>
  	</div> <%# <!-- .timeline --> %>

  	<div class="events-content">
  		<ol>
  			<li class="selected" data-date="16/01/2014">
  				<h2>Horizontal Timeline</h2>
  				<em>January 16th, 2014</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="28/02/2014">
  				<h2>Event title here</h2>
  				<em>February 28th, 2014</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="20/04/2014">
  				<h2>Event title here</h2>
  				<em>March 20th, 2014</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="20/05/2014">
  				<h2>Event title here</h2>
  				<em>May 20th, 2014</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>
  		</ol>
  	</div> <%# <!-- .events-content --> %>
  </section>





















  <h1>Hockey MMR</h1>

  <% @futures.each do |f| %>
    <div>
      <%= f.away_team_name %> (<%= ((1 - f.expected_result) * 100).round(1) %>%) @ <%= f.home_team_name %> (<%= (f.expected_result * 100).round(1) %>%)  |  <%= f.date %>
    </div>
  <% end %>
</div>

<div id='east-west' class='container'>
  <div id='teams-table-east' style="display:inline-block">
    <h3>Eastern</h3>
    <% @filter = @teams.where(conference: "Eastern") %>
    <%= render "/teams/table" %>
  </div>
  <div id='teams-table-west' style="display:inline-block; margin-left: 100px">
    <h3>Western</h3>
    <% @filter = @teams.where(conference: "Western") %>
    <%= render "/teams/table" %>
  </div>
</div>
