<div class='container'>
  <hr>
  <h1 class='main-title montserrat'>HOCKEY MMR</h1>
  <hr>
  <h2 class='montserrat' style='text-align:center; margin-top:50px'>Upcoming Games</h2>
  <section class="cd-horizontal-timeline">
  	<div class="timeline">
  		<div class="events-wrapper">
  			<div class="events">
  				<ol>
            <% count = 1 %>
            <% today = Date.today %>
            <% (today..(today + 14)).each do |future| %>
              <% if count == 1 %>
                <li><a href="#0" data-date="<%= date_format(future) %>" class="selected ubuntu"><%= date_display(future) %></a></li>
              <% else %>
                <li><a href="#0" data-date="<%= date_format(future) %>" class="ubuntu"><%= date_display(future) %></a></li>
              <% end %>
              <% count += 1 %>
            <% end %>
  				</ol>

  				<span class="filling-line" aria-hidden="true"></span>
  			</div> <%# <!-- .events --> %>
  		</div> <%# <!-- .events-wrapper --> %>

  		<ul class="cd-timeline-navigation">
  			<li><a href="#0" class="prev inactive">Prev</a></li>
  			<li><a href="#0" class="next">Next</a></li>
  		</ul> <%# <!-- .cd-timeline-navigation --> %>
  	</div> <%# <!-- .timeline --> %>

  	<div class="events-content">
  		<ol>
        <% counter2 = 1 %>
        <% today = Date.today %>
        <% (today..(today + 14)).each do |day| %>
          <% if counter2 == 1 %>
            <li class="selected" data-date="<%= date_format(day) %>">
          <% else %>
            <li data-date="<%= date_format(day) %>">
          <% end %>
          <% @futures.where(date: day).each do |future| %>
            <div class="col-lg-4 col-md-6 col-sm-12 future-games">
              <%= image_tag(future.away_logo) %><%= future.away_team_name %> <p>(<%= ((1 - future.expected_result) * 100).round(1) %>%)</p>
              <p><strong>@</strong></p>
              <%= image_tag(future.home_logo) %><%= future.home_team_name %> <p>(<%= (future.expected_result * 100).round(1) %>%)</p>
            </div>
          <% end %>
          </li>
          <% counter2 += 1 %>
        <% end %>
  		</ol>
  	</div> <%# <!-- .events-content --> %>
  </section>
  <hr>
</div>


<div id='east-west' class='container text-center'>
  <h2 class='montserrat'>Team Ratings</h2>
  <div class='teams-table'>
    <h3 class="ubuntu">Eastern</h3>
    <% @filter = @teams.where(conference: "Eastern") %>
    <%= render "/teams/table" %>
  </div>
  <div class='teams-table'>
    <h3 class="ubuntu">Western</h3>
    <% @filter = @teams.where(conference: "Western") %>
    <%= render "/teams/table" %>
  </div>
</div>
